html, body {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
}

#webcam, 
#hand {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}